.topp
{
    background-color: #dddddd;
}

.footer 
{
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
}

a 
{
    color: black !important;
}

a:hover
{
    text-decoration: none;
}

.full
{
    width: 100%;
    height: 100%;
}

main
{
    max-width: 100%;
}

li
{
    list-style-type: none;
}

.pagination
{
    margin-left: auto;
    margin-right: auto;
}

.header-menu
{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1000;
}

main > .container
{
    margin-top: 63px;
}

.label-name
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}